@inject IStringLocalizer<MainLayout> L

<MudAppBar Elevation="0">
    <MudTooltip Text="Toggle Drawer">
        <MudIconButton Icon="@Icons.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
    </MudTooltip>

     <MudButton Variant="Variant.Text" DisableElevation="true" Link="/">
            @L["StoreX"]</MudButton>
    <MudSpacer />

    <MudTooltip Text="@L["Useful Links"]">
        <MudMenu Label="Useful Links" Icon="@Icons.Filled.Link" Color="Color.Info" Dense="true" Direction="Direction.Right" OffsetY="true"
            EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Variant="Variant.Filled">

            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@L["Repositories"]</b></MudText>
            <MudMenuItem Link="https://github.com/rafitajaen/StoreX-Blazor-Wasm" Target="_blank">@L["Front-End"]</MudMenuItem>
            <MudMenuItem Link="https://github.com/rafitajaen/StoreX-WebAPI" Target="_blank">@L["Back-End"]</MudMenuItem>

            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@L["Contact"]</b></MudText>
            <MudMenuItem Link="https://www.linkedin.com/in/rafitajaen/" Target="_blank">LinkedIn</MudMenuItem>
            <MudMenuItem Link="https://github.com/rafitajaen/" Target="_blank">GitHub</MudMenuItem>

            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@L["Resources"]</b></MudText>
            <MudMenuItem Link="https://github.com/rafitajaen/StoreX-WebAPI/blob/storex/README.md" Target="_blank">@L["Documentation"]</MudMenuItem>
        </MudMenu>
    </MudTooltip>

    <LanguageSelector />

    <NotificationConnectionStatus />

    <MudTooltip Text="@L["Profile"]">
        <MudMenu AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Filled.Person" Color="Color.Inherit" />
            </ActivatorContent>
            <ChildContent>
                <div class="py-2" style="min-width: 220px">
                    <PersonCard Class="mt-n2" Style="margin-bottom:0px!important" />
                    <MudMenuItem OnClick="Profile">
                        <div class="d-flex">
                            <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person" />
                            <MudText>@L["Account"]</MudText>
                        </div>
                    </MudMenuItem>
                    <MudMenuItem Link="/dashboard">
                        <div class="d-flex">
                            <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Dashboard" />
                            <MudText>@L["Dashboard"]</MudText>
                        </div>
                    </MudMenuItem>
                    <div class="mt-4 mx-4">
                        <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout"
                            Variant="Variant.Filled" OnClick="Logout">
                            @L["Logout"]
                        </MudButton>
                    </div>
                </div>
            </ChildContent>
        </MudMenu>
    </MudTooltip>

</MudAppBar>

<MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Never">
    <NavMenu />
</MudDrawer>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
        @ChildContent
        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>
    </MudContainer>
</MudMainContent>